# Fuzzy Matching Project

### We prepare the reference csv file with which everytime the new csv is fuzzty matched. 
### This reference csv is made using shrug shapefiles as they only contain both Names and the codes.
### We have three shapefiles at SHrug website. 
1. Village shapefile
2. Sub district shapefile
3. District shape file
### To get codes for states we refer census 2011 code from govt website as Everyother shapefiles names and codes are from 2011 shapefiles

## Village shapefile acts as base. To this csv we keep adding State,
## district and Subdistrict names as codes are already present.

In [28]:
import pandas as pd
import geopandas as gpd
shapefile_path = 'shrug-pc11-village-poly-shp/village.shp'
tv_name_gdf = gpd.read_file(shapefile_path)

tv_name_gdf = tv_name_gdf.drop('geometry', axis=1)
tv_name_gdf

,pc11_s_id,pc11_d_id,pc11_sd_id,pc11_tv_id,tv_name
0,01,001,00001,000001,Bore
1,01,001,00001,000002,Keran
2,01,001,00001,000003,Bugna
3,01,001,00001,000004,Bichwal
4,01,001,00001,000005,Mindiyan
...,...,...,...,...,...
649613,35,640,05924,645567,Butler Bay Forest Camp 4-IV (FDCA)
649614,35,640,05924,645568,Red Oil Palm (Nursery Camp)
649615,35,640,05924,645569,Butler Bay Forest Camp 4-II (FDCA)
649616,35,640,05924,645570,Butler Bay Forest Camp 4-I (FDCA)
649617,01,000,00000,000000,None

#### Adding the State Name
1. We prepare a mapping and then use it to make a state name column in Base csv
To get codes for states we refer census 2011 code from govt website as Everyother
shapefiles names and codes are from 2011 shapefiles

In [29]:
state_names = [
    "Jammu and Kashmir", "Himachal Pradesh", "Punjab", "Chandigarh", "Uttarakhand",
    "Haryana", "NCT of Delhi", "Rajasthan", "Uttar Pradesh", "Bihar",
    "Sikkim", "Arunachal Pradesh", "Nagaland", "Manipur", "Mizoram",
    "Tripura", "Meghalaya", "Assam", "West Bengal", "Jharkhand",
    "Odisha", "Chhattisgarh", "Madhya Pradesh", "Gujarat", "Daman & Diu",
    "Dadra & Nagar Haveli", "Maharashtra", "Andhra Pradesh", "Karnataka", "Goa",
    "Lakshadweep", "Kerala", "Tamil Nadu", "Puducherry", "Andaman & Nicobar Islands"
]
pc11_s_id = [
    "01", "02", "03", "04", "05",
    "06", "07", "08", "09", "10",
    "11", "12", "13", "14", "15",
    "16", "17", "18", "19", "20",
    "21", "22", "23", "24", "25",
    "26", "27", "28", "29", "30",
    "31", "32", "33", "34", "35"
]

state_code_df = pd.DataFrame({
    'State Name': state_names,
    'pc11_s_id': pc11_s_id
})

state_code_df

                   State Name pc11_s_id
0           Jammu and Kashmir        01
1            Himachal Pradesh        02
2                      Punjab        03
3                  Chandigarh        04
4                 Uttarakhand        05
5                     Haryana        06
6                NCT of Delhi        07
7                   Rajasthan        08
8               Uttar Pradesh        09
9                       Bihar        10
10                     Sikkim        11
11          Arunachal Pradesh        12
12                   Nagaland        13
13                    Manipur        14
14                    Mizoram        15
15                    Tripura        16
16                  Meghalaya        17
17                      Assam        18
18                West Bengal        19
19                  Jharkhand        20
20                     Odisha        21
21               Chhattisgarh        22
22             Madhya Pradesh        23
23                    Gujarat        24
24                Daman & Diu        25
25       Dadra & Nagar Haveli        26
26                Maharashtra        27
27             Andhra Pradesh        28
28                  Karnataka        29
29                        Goa        30
30                Lakshadweep        31
31                     Kerala        32
32                 Tamil Nadu        33
33                 Puducherry        34
34  Andaman & Nicobar Islands        35

#### DIstrict name with code

In [30]:
import pandas as pd
import geopandas as gpd
shapefile_path = 'shrug-pc11dist-poly-shp/district.shp'
d_name_gdf = gpd.read_file(shapefile_path)

d_name_gdf = d_name_gdf.drop(['geometry', 'pc11_s_id'], axis=1)
d_name_gdf

    pc11_d_id                   d_name
0         468                  Kachchh
1         469             Banas Kantha
2         470                    Patan
3         471                 Mahesana
4         472             Sabar Kantha
..        ...                      ...
636       587              Lakshadweep
637       638                 Nicobars
638       639  North  & Middle Andaman
639       640            South Andaman
640       000                     None

[641 rows x 2 columns]

#### Subdistrict names with code

In [31]:
import pandas as pd
import geopandas as gpd
shapefile_path = 'shrug-pc11subdist-poly-shp/subdistrict.shp'
sd_name_gdf = gpd.read_file(shapefile_path)

sd_name_gdf = sd_name_gdf.drop(['geometry', 'pc11_s_id', 'pc11_d_id'], axis=1)
sd_name_gdf

     pc11_sd_id          sd_name
0         00000  Rann Of Kachchh
1         03722          Lakhpat
2         03723            Rapar
3         03724          Bhachau
4         03725            Anjar
...         ...              ...
5964      05921           Rangat
5965      05923       Port Blair
5966      05924   Little Andaman
5967      05922       Ferrargunj
5968      00000             None

[5969 rows x 2 columns]

#### Merging all with base csv

In [32]:
tv_name_gdf = tv_name_gdf.merge(state_code_df, on='pc11_s_id', how='outer')
tv_name_gdf = tv_name_gdf.merge(sd_name_gdf, on='pc11_sd_id', how='outer')
tv_name_gdf = tv_name_gdf.merge(d_name_gdf, on='pc11_d_id', how='outer')
tv_name_gdf

,pc11_s_id,pc11_d_id,pc11_sd_id,pc11_tv_id,tv_name,State Name,sd_name,d_name
0,01,001,00001,000001,Bore,Jammu and Kashmir,Kupwara,Kupwara
1,01,001,00001,000002,Keran,Jammu and Kashmir,Kupwara,Kupwara
2,01,001,00001,000003,Bugna,Jammu and Kashmir,Kupwara,Kupwara
3,01,001,00001,000004,Bichwal,Jammu and Kashmir,Kupwara,Kupwara
4,01,001,00001,000005,Mindiyan,Jammu and Kashmir,Kupwara,Kupwara
...,...,...,...,...,...,...,...,...
654815,35,640,05924,645567,Butler Bay Forest Camp 4-IV (FDCA),Andaman & Nicobar Islands,Little Andaman,South Andaman
654816,35,640,05924,645568,Red Oil Palm (Nursery Camp),Andaman & Nicobar Islands,Little Andaman,South Andaman
654817,35,640,05924,645569,Butler Bay Forest Camp 4-II (FDCA),Andaman & Nicobar Islands,Little Andaman,South Andaman
654818,35,640,05924,645570,Butler Bay Forest Camp 4-I (FDCA),Andaman & Nicobar Islands,Little Andaman,South Andaman
654819,NaN,NaN,03265,NaN,NaN,NaN,Gharghoda,NaN

In [33]:
tv_name_gdf = tv_name_gdf.dropna(subset=['tv_name'])

In [34]:
tv_name_gdf

,pc11_s_id,pc11_d_id,pc11_sd_id,pc11_tv_id,tv_name,State Name,sd_name,d_name
0,01,001,00001,000001,Bore,Jammu and Kashmir,Kupwara,Kupwara
1,01,001,00001,000002,Keran,Jammu and Kashmir,Kupwara,Kupwara
2,01,001,00001,000003,Bugna,Jammu and Kashmir,Kupwara,Kupwara
3,01,001,00001,000004,Bichwal,Jammu and Kashmir,Kupwara,Kupwara
4,01,001,00001,000005,Mindiyan,Jammu and Kashmir,Kupwara,Kupwara
...,...,...,...,...,...,...,...,...
654814,35,640,05924,645566,Butler Bay Forest Camp 4-III (FDCA),Andaman & Nicobar Islands,Little Andaman,South Andaman
654815,35,640,05924,645567,Butler Bay Forest Camp 4-IV (FDCA),Andaman & Nicobar Islands,Little Andaman,South Andaman
654816,35,640,05924,645568,Red Oil Palm (Nursery Camp),Andaman & Nicobar Islands,Little Andaman,South Andaman
654817,35,640,05924,645569,Butler Bay Forest Camp 4-II (FDCA),Andaman & Nicobar Islands,Little Andaman,South Andaman
654818,35,640,05924,645570,Butler Bay Forest Camp 4-I (FDCA),Andaman & Nicobar Islands,Little Andaman,South Andaman

In [35]:
tv_name_gdf.to_csv("Reference_FMP.csv")

### Using the reference FMP csv to fuzzy match with new csv. The new csv should have Statename, district name, subdistrict name/ block name and the village name to be matched

In [42]:
import os
import pandas as pd

def get_all_csv_paths(directory):
    csv_paths = []
    for root, _, files in os.walk(directory):
        for file in files:
            if file.endswith('.csv'):
                csv_paths.append(os.path.join(root, file))
    return csv_paths

# Example usage
directory_path = 'JJM 2009 - 2024 Water Quality Data/JJM 2009-2010/Processed CSV 2010'
csv_files = get_all_csv_paths(directory_path)


len(csv_files)

501

In [43]:
dataframes = []
for path in csv_files[200:205]:
    df = pd.read_csv(path)
    dataframes.append(df)

# Concatenate all DataFrames horizontally
concatenated_df = pd.concat(dataframes, axis=0)

concatenated_df = concatenated_df[['StateName', 'DistrictName', 'BlockName', 'VillageName','Contaminents']]
concatenated_df

,StateName,DistrictName,BlockName,VillageName,Contaminents
0,KARNATAKA,SHIMOGA,BHADRAVATI,AGARADAHALLI,"Fluoride : 1.000, Iron : 0.400, Chloride : 250..."
1,KARNATAKA,SHIMOGA,BHADRAVATI,AGARADAHALLI,"Fluoride : 1.000, Iron : 0.300, Chloride : 400..."
2,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 1.000, Iron : 0.400, Chloride : 300..."
3,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 0.500, Iron : 0.500, Chloride : 450..."
4,KARNATAKA,SHIMOGA,BHADRAVATI,ITTIGEHALLY,"Fluoride : 0.500, Iron : 0.500, Chloride : 450..."
...,...,...,...,...,...
148,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 1.490, Iron : 0.050, Chloride : 195..."
149,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.280, Chloride : 100.000, TDS : 48..."
150,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.200, Iron : 0.050, Chloride : 560..."
151,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.180, Iron : 0.060, Chloride : 110..."
152,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.240, Chloride : 540.000, TDS : 14..."

In [44]:
concatenated_df = concatenated_df.sort_values(by=['StateName', 'DistrictName','BlockName'])
concatenated_df.to_csv("test.csv")

In [53]:
fmp = pd.read_csv("Reference_FMP.csv")
fmp = fmp.sort_values(by = ['State Name', 'd_name', 'sd_name'])
fmp.to_csv("fmp_test.csv")

In [54]:
fmp.columns

Index(['Unnamed: 0', 'pc11_s_id', 'pc11_d_id', 'pc11_sd_id', 'pc11_tv_id',
       'tv_name', 'State Name', 'sd_name', 'd_name'],
      dtype='object')

In [57]:
fmp = fmp[['pc11_s_id', 'pc11_d_id', 'pc11_sd_id', 'pc11_tv_id',
       'tv_name', 'State Name', 'sd_name', 'd_name']]
fmp.reset_index(drop=True, inplace= True)
fmp

,pc11_s_id,pc11_d_id,pc11_sd_id,pc11_tv_id,tv_name,State Name,sd_name,d_name
0,35,638,5916,0,Batti Malv Island,Andaman & Nicobar Islands,Car Nicobar,Nicobars
1,35,638,5916,645012,Mus,Andaman & Nicobar Islands,Car Nicobar,Nicobars
2,35,638,5916,645013,Teetop,Andaman & Nicobar Islands,Car Nicobar,Nicobars
3,35,638,5916,645014,Sawai,Andaman & Nicobar Islands,Car Nicobar,Nicobars
4,35,638,5916,645015,Arong,Andaman & Nicobar Islands,Car Nicobar,Nicobars
...,...,...,...,...,...,...,...,...
654301,19,330,2196,309796,Poaltair,West Bengal,Raiganj,Uttar Dinajpur
654302,19,330,2196,309797,Pardha,West Bengal,Raiganj,Uttar Dinajpur
654303,19,330,2196,309798,Nachhratpur Katabari,West Bengal,Raiganj,Uttar Dinajpur
654304,19,330,2196,309799,Kasba,West Bengal,Raiganj,Uttar Dinajpur
654305,19,330,2196,801651,Raiganj,West Bengal,Raiganj,Uttar Dinajpur

In [58]:
concatenated_df

,StateName,DistrictName,BlockName,VillageName,Contaminents
0,KARNATAKA,SHIMOGA,BHADRAVATI,AGARADAHALLI,"Fluoride : 1.000, Iron : 0.400, Chloride : 250..."
1,KARNATAKA,SHIMOGA,BHADRAVATI,AGARADAHALLI,"Fluoride : 1.000, Iron : 0.300, Chloride : 400..."
2,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 1.000, Iron : 0.400, Chloride : 300..."
3,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 0.500, Iron : 0.500, Chloride : 450..."
4,KARNATAKA,SHIMOGA,BHADRAVATI,ITTIGEHALLY,"Fluoride : 0.500, Iron : 0.500, Chloride : 450..."
...,...,...,...,...,...
148,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 1.490, Iron : 0.050, Chloride : 195..."
149,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.280, Chloride : 100.000, TDS : 48..."
150,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.200, Iron : 0.050, Chloride : 560..."
151,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.180, Iron : 0.060, Chloride : 110..."
152,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.240, Chloride : 540.000, TDS : 14..."

In [59]:
fmp['State Name'].unique()

array(['Andaman & Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra & Nagar Haveli', 'Daman & Diu', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'NCT of Delhi', 'Nagaland',
       'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim',
       'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal'], dtype=object)

In [61]:
# Define fuzzy matching function
from fuzzywuzzy import process
def get_best_match(name, list2):
    best_match = process.extractOne(name, list2)
    return best_match[0] if best_match else name

# Create mapping dictionary using fuzzy matching
mapping = {name: get_best_match(name, list(fmp['State Name'].unique())) for name in concatenated_df['StateName'].unique()}
print("Mapping:", mapping)

# Function to correct name using the mapping
def correct_name(name, mapping):
    return mapping.get(name, name)

# Apply the correction to the 'Name' column in the DataFrame
concatenated_df['Matched State Name'] = concatenated_df['StateName'].apply(lambda x: correct_name(x, mapping))

Mapping: {'KARNATAKA': 'Karnataka', 'KERALA': 'Kerala'}

In [62]:
concatenated_df

,StateName,DistrictName,BlockName,VillageName,Contaminents,Matched State Name
0,KARNATAKA,SHIMOGA,BHADRAVATI,AGARADAHALLI,"Fluoride : 1.000, Iron : 0.400, Chloride : 250...",Karnataka
1,KARNATAKA,SHIMOGA,BHADRAVATI,AGARADAHALLI,"Fluoride : 1.000, Iron : 0.300, Chloride : 400...",Karnataka
2,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 1.000, Iron : 0.400, Chloride : 300...",Karnataka
3,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 0.500, Iron : 0.500, Chloride : 450...",Karnataka
4,KARNATAKA,SHIMOGA,BHADRAVATI,ITTIGEHALLY,"Fluoride : 0.500, Iron : 0.500, Chloride : 450...",Karnataka
...,...,...,...,...,...,...
148,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 1.490, Iron : 0.050, Chloride : 195...",Kerala
149,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.280, Chloride : 100.000, TDS : 48...",Kerala
150,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.200, Iron : 0.050, Chloride : 560...",Kerala
151,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.180, Iron : 0.060, Chloride : 110...",Kerala
152,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.240, Chloride : 540.000, TDS : 14...",Kerala

In [63]:
from fuzzywuzzy import process, fuzz

# Function to get the best match with caching
def get_best_match_with_cache(row, fmp, cache):
    state = row['Matched State Name']
    district = row['DistrictName']
    
    if state not in cache:
        cache[state] = {}
    
    if district not in cache[state]:
        fmp_state = fmp[fmp['State Name'] == state]
        match, score = process.extractOne(district, fmp_state['d_name'].unique(), scorer=fuzz.token_sort_ratio)
        cache[state][district] = match
    
    return cache[state][district]

# Initialize the cache
cache = {}

# Apply the matching function to concatenated_df
concatenated_df['Matched District name'] = concatenated_df.apply(lambda row: get_best_match_with_cache(row, fmp, cache), axis=1)

In [64]:
concatenated_df

,StateName,DistrictName,BlockName,VillageName,Contaminents,Matched State Name,Matched District name
0,KARNATAKA,SHIMOGA,BHADRAVATI,AGARADAHALLI,"Fluoride : 1.000, Iron : 0.400, Chloride : 250...",Karnataka,Shimoga
1,KARNATAKA,SHIMOGA,BHADRAVATI,AGARADAHALLI,"Fluoride : 1.000, Iron : 0.300, Chloride : 400...",Karnataka,Shimoga
2,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 1.000, Iron : 0.400, Chloride : 300...",Karnataka,Shimoga
3,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 0.500, Iron : 0.500, Chloride : 450...",Karnataka,Shimoga
4,KARNATAKA,SHIMOGA,BHADRAVATI,ITTIGEHALLY,"Fluoride : 0.500, Iron : 0.500, Chloride : 450...",Karnataka,Shimoga
...,...,...,...,...,...,...,...
148,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 1.490, Iron : 0.050, Chloride : 195...",Kerala,Alappuzha
149,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.280, Chloride : 100.000, TDS : 48...",Kerala,Alappuzha
150,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.200, Iron : 0.050, Chloride : 560...",Kerala,Alappuzha
151,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.180, Iron : 0.060, Chloride : 110...",Kerala,Alappuzha
152,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.240, Chloride : 540.000, TDS : 14...",Kerala,Alappuzha

In [65]:
# return cache[state][district].get(sub_district, sub_district)  # Return the corrected sub-district name or original if not found

In [66]:
from fuzzywuzzy import process, fuzz

# Function to get the best match with caching
def get_best_match_with_cache(row, fmp, cache, last_state):
    state = row['Matched State Name']
    district = row['Matched District name']
    sub_district = row['BlockName']  # Assuming the column name for sub-district
    
    # Check if the state has changed
    if state != last_state[0]:
        print(cache)
        cache.clear()  # Clear the cache for a new state
        last_state[0] = state  # Update the last processed state
        print(f'New State {state}, cache reinitialized: {cache}')
    
    fmp_state = fmp[fmp['State Name'] == state]
    fmp_district = fmp_state[fmp_state['d_name'] == district]
    
    # Initialize the district cache if it doesn't exist
    if district not in cache:
        cache[district] = {}
        print(f'New district {cache}')
    
    # print(f'concatenated_df sub_district - {sub_district}')
    
    # Check if the sub-district exists in the district cache, if not, compute and store the best match
    if sub_district not in cache[district]:
        # print(f"fmp_district - {fmp_district['sd_name'].unique()}")
        best_match = process.extractOne(sub_district, fmp_district['sd_name'].unique(), scorer=fuzz.token_sort_ratio)[0]
        cache[district][sub_district] = best_match
        # print(f'cache - {cache} \n')
    
    return cache[district][sub_district]

# Initialize the cache and last state tracker
cache = {}
last_state = [None]

# Apply the matching function to concatenated_df
concatenated_df['Matched SubDistrict name'] = concatenated_df.apply(lambda row: get_best_match_with_cache(row, fmp, cache, last_state), axis=1)

{}
New State Karnataka, cache reinitialized: {}
New district {'Shimoga': {}}
New district {'Shimoga': {'BHADRAVATI': 'Bhadravati', 'HOSANAGARA': 'Hosanagara', 'SAGAR': 'Sagar', 'SHIKARPUR': 'Shikarpur', 'SHIMOGA': 'Shimoga', 'SORAB': 'Sorab', 'TIRTHAHALLI': 'Tirthahalli'}, 'Tumkur': {}}
New district {'Shimoga': {'BHADRAVATI': 'Bhadravati', 'HOSANAGARA': 'Hosanagara', 'SAGAR': 'Sagar', 'SHIKARPUR': 'Shikarpur', 'SHIMOGA': 'Shimoga', 'SORAB': 'Sorab', 'TIRTHAHALLI': 'Tirthahalli'}, 'Tumkur': {'GUBBI': 'Gubbi', 'KORATAGERE': 'Koratagere', 'MADHUGIRI': 'Madhugiri', 'PAVAGADA': 'Pavagada', 'SIRA': 'Sira', 'TIPTUR': 'Tiptur', 'TUMKUR': 'Tumkur', 'TURUVEKERE': 'Turuvekere'}, 'Udupi': {}}
New district {'Shimoga': {'BHADRAVATI': 'Bhadravati', 'HOSANAGARA': 'Hosanagara', 'SAGAR': 'Sagar', 'SHIKARPUR': 'Shikarpur', 'SHIMOGA': 'Shimoga', 'SORAB': 'Sorab', 'TIRTHAHALLI': 'Tirthahalli'}, 'Tumkur': {'GUBBI': 'Gubbi', 'KORATAGERE': 'Koratagere', 'MADHUGIRI': 'Madhugiri', 'PAVAGADA': 'Pavagada', 'SIRA': 'Sira', 'TIPTUR': 'Tiptur', 'TUMKUR': 'Tumkur', 'TURUVEKERE': 'Turuvekere'}, 'Udupi': {'KARKAL': 'Karkal', 'KUNDAPURA': 'Kundapura', 'UDUPI': 'Udupi'}, 'Yadgir': {}}
{'Shimoga': {'BHADRAVATI': 'Bhadravati', 'HOSANAGARA': 'Hosanagara', 'SAGAR': 'Sagar', 'SHIKARPUR': 'Shikarpur', 'SHIMOGA': 'Shimoga', 'SORAB': 'Sorab', 'TIRTHAHALLI': 'Tirthahalli'}, 'Tumkur': {'GUBBI': 'Gubbi', 'KORATAGERE': 'Koratagere', 'MADHUGIRI': 'Madhugiri', 'PAVAGADA': 'Pavagada', 'SIRA': 'Sira', 'TIPTUR': 'Tiptur', 'TUMKUR': 'Tumkur', 'TURUVEKERE': 'Turuvekere'}, 'Udupi': {'KARKAL': 'Karkal', 'KUNDAPURA': 'Kundapura', 'UDUPI': 'Udupi'}, 'Yadgir': {'SHAHAPUR': 'Shahpur', 'SHORAPUR': 'Shorapur', 'YADGIR': 'Yadgir'}}
New State Kerala, cache reinitialized: {}
New district {'Alappuzha': {}}

In [67]:
concatenated_df

,StateName,DistrictName,BlockName,VillageName,Contaminents,Matched State Name,Matched District name,Matched SubDistrict name
0,KARNATAKA,SHIMOGA,BHADRAVATI,AGARADAHALLI,"Fluoride : 1.000, Iron : 0.400, Chloride : 250...",Karnataka,Shimoga,Bhadravati
1,KARNATAKA,SHIMOGA,BHADRAVATI,AGARADAHALLI,"Fluoride : 1.000, Iron : 0.300, Chloride : 400...",Karnataka,Shimoga,Bhadravati
2,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 1.000, Iron : 0.400, Chloride : 300...",Karnataka,Shimoga,Bhadravati
3,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 0.500, Iron : 0.500, Chloride : 450...",Karnataka,Shimoga,Bhadravati
4,KARNATAKA,SHIMOGA,BHADRAVATI,ITTIGEHALLY,"Fluoride : 0.500, Iron : 0.500, Chloride : 450...",Karnataka,Shimoga,Bhadravati
...,...,...,...,...,...,...,...,...
148,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 1.490, Iron : 0.050, Chloride : 195...",Kerala,Alappuzha,Kuttanad
149,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.280, Chloride : 100.000, TDS : 48...",Kerala,Alappuzha,Kuttanad
150,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.200, Iron : 0.050, Chloride : 560...",Kerala,Alappuzha,Kuttanad
151,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.180, Iron : 0.060, Chloride : 110...",Kerala,Alappuzha,Kuttanad
152,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.240, Chloride : 540.000, TDS : 14...",Kerala,Alappuzha,Kuttanad

In [68]:
from fuzzywuzzy import process, fuzz

# Function to get the best match with caching
def get_best_match_with_cache(row, fmp, cache, last_state):
    state = row['Matched State Name']
    district = row['Matched District name']
    village = row['VillageName']  # Assuming the column name for sub-district
    
    # Check if the state has changed
    if state != last_state[0]:
        print(cache)
        cache.clear()  # Clear the cache for a new state
        last_state[0] = state  # Update the last processed state
        print(f'New State {state}, cache reinitialized: {cache}')
    
    fmp_state = fmp[fmp['State Name'] == state]
    fmp_district = fmp_state[fmp_state['d_name'] == district]
    
    # Initialize the district cache if it doesn't exist
    if district not in cache:
        cache[district] = {}
        print(f'New district {cache}')
    
    # print(f'concatenated_df village - {village}')
    
    # Check if the sub-district exists in the district cache, if not, compute and store the best match
    if village not in cache[district]:
        # print(f"fmp_district - {fmp_district['sd_name'].unique()}")
        best_match = process.extractOne(village, fmp_district['tv_name'].unique(), scorer=fuzz.token_sort_ratio)[0]
        cache[district][village] = best_match
        # print(f'cache - {cache} \n')
    
    return cache[district][village]

# Initialize the cache and last state tracker
cache = {}
last_state = [None]

# Apply the matching function to concatenated_df
concatenated_df['Matched Village name'] = concatenated_df.apply(lambda row: get_best_match_with_cache(row, fmp, cache, last_state), axis=1)

{}
New State Karnataka, cache reinitialized: {}
New district {'Shimoga': {}}
New district {'Shimoga': {'AGARADAHALLI': 'Agaradahalli', 'ANAVERI': 'Anaveri', 'ITTIGEHALLY': 'Ittigehalli', 'ANTHARAGANGE': 'Antaragange', 'ARABILACHI': 'Arebilachi', 'ARAHATHOLALU': 'Arahatholalu', 'ARAKERE': 'Arakere', 'DANAVADI': 'Danavadi', 'KALLAPURA': 'Kallapura', 'ATTIGUNDA': 'Athigunda', 'BARANDURU': 'Barandooru', 'BILAKI': 'Bilaki', 'MAJJIGENALLI': 'Majjigenahalli', 'AGASANAHALLI': 'Agasanahalli', 'DASARAKALLAHALLI': 'Dasarakallahalli', 'BALEKATTE': 'Balekatte', 'DODDERI': 'Dodderi', 'DONABAGHATTA': 'Donabaghatta', 'GUDAMANGATTA': 'Gudumagatta', 'HIRIYURU': 'Hiriyur', 'HOLEHONNURU': 'Holehonnuru', 'KALLAHALLI': 'Kallahalli', 'KAMBADALAHOSURU': 'Kambadooru', 'DEVARAHALLI': 'Devarahalli', 'KALLAJJANAHALU': 'Kallajjanalu', 'MAIDOLALU': 'Mydolalu', 'MASARAHALLI': 'Masarahalli', 'MAVINAKERE': 'Mavinakere', 'NAGATHIBELAGALLI': 'Nagathibelagalu', 'DIGGENAHALLI': 'Diggenahalli', 'TADASA': 'Tadasa', 'HOLEBAIRANAHALLI': 'Holebyranahalli', 'YEREHALLI': 'Yedehalli', 'AMRUTHA': 'Amrutha', 'BIDARAHALLI': 'Siddarahalli', 'HALANDURU': 'Halandur', 'HULIGADDE': 'Huligadde', 'KAMMACHI': 'Kammachi', 'ANDAGADODURU': 'Anadagadoduru', 'ARAMANEKOPPA': 'Aramane Koppa', 'BELLURU': 'Bellur', 'DOBBAILU': 'Dobylu', 'GUBBIGA': 'Gubbiga', 'KALASE': 'Kalase', 'MASKANI': 'Masakani', 'ANEGADDE': 'Anegadde', 'HUMCHA': 'Humcha', 'MALURU': 'Maluru', 'NAGARAHALLI': 'Nagarahalli', 'JENI': 'Jeni', 'KALIKAPURA': 'Kalikapura', 'KHAIRAGUNDA': 'Saragunda', 'KARIMANE': 'Karimane', 'KENCHANALA': 'Kenchanala', 'M. GUDDEKOPPA': 'M.Guddekoppa', 'MARUTHIPURA': 'Maruthipura', 'MELINABESIGE': 'Menase', 'MUMBARU': 'Mumbaru', 'HEBBAILU': 'Herabailu', 'ICHALAKOPPA': 'Echala Koppa', 'PURAPPEMANE': 'Kaptemane', 'GAVATURU': 'Gajanuru', 'BILLODI': 'Billodi', 'SONALE': 'Sonale', 'VARAMBALLI': 'Varamballi', 'SULA GODU': 'Mitla Godu', 'THOGARE': 'Thogare', 'TRINIVE': 'Thrinive', 'YADURU': 'Yadur', 'AVINHALLI': 'Avinahalli', 'GOUTHAMAPUR': 'Gowthampura', 'ULLUR': 'Ulluru', 'CHIKALAVATHI': 'Chikkalavathi', 'ARASINAGERE': 'Arasinagere', 'CHIKKAJAMBURU': 'Chikkajamburu', 'GAMA': 'Gama', 'BHOGI': 'Bhogi', 'HIREJAMBURU': 'Hirejamburu', 'HITTALA': 'Hithala', 'KAGINAHALLI': 'Kanahalli', 'KALENAHALLI': 'Kalenahalli', 'KAPPANAHALLI': 'Kappanahalli', 'KOTIPURA': 'Kotipura', 'BANNURU': 'Bannuru', 'MALLAPURA': 'Mallapura', 'MUDABA SIDDAPURA': 'Mudubasiddapura', 'BIDARIKOPPA': 'Bidarikoppa', 'KADENANDIHALLI': 'Kadenandihalli', 'SUNNADAKOPPA': 'Sunnadakoppa', 'THADASANAHALLI': 'Thadasanahalli', 'ABBALAGERE': 'Abbalagere', 'BASAVANAGANGUR': 'Basavana Ganguru', 'HUNASODU': 'Hunasodu', 'KALLAGANGURU': 'Kallaganguru', 'MOJAPPANAHOSUR': 'Mojappana Hosuru', 'AGASAVALLI': 'Agasavalli', 'KALLUR': 'Kallur', 'RAMENAKOPPA': 'Ramenakoppa', 'AYANUR': 'Ayanuru', 'HOSUR': 'Hosur', 'B.BEERANAHALLI': 'B Beeranahalli', 'BELAGALU': 'Belagalu', 'BUKLAPURA': 'Buklapura', 'GOWDANAYAKANAHALLI': 'Gowdanaykana Halli', 'HAROBENAVALLI': 'Holebenavalli', 'BALEKOPPA': 'Balekoppa', 'CHAMENAHALLY': 'Chamena Halli', 'CHIKKAMARASA': 'Chikka Marasa', 'HUBBANAHALLI': 'Harnahalli', 'BIDARE': 'Bidare', 'HONNAVILE': 'Honnavile', 'CHORADI': 'Choradi', 'GAJANUR': 'Gajanuru', 'HADONAHALLI': 'Hadona Halli', 'MADAKECHELUR': 'Malalur', 'HASUDI': 'Hosudi', 'HOLALUR': 'Holaluru', 'HANUMANTHAPURA': 'Hanumanthapura', 'HOLEBENAVALLI': 'Holebenavalli', 'YALAVATTI': 'Yalavatti', 'GAJANUR MULLAKERE': 'Gajanuru Mullakere', 'HOSAHALLI': 'Hosahalli', 'HOSAKOPPA': 'Hosakoppa', 'HALALAKKAVALLI': 'Halalakka Valli', 'KADEKAL': 'Kadekal', 'YARAGANAL': 'Yaraganalu', 'BIKKONAHALLI': 'Bikkona Halli', 'BOODIGERE': 'Boodi Gere', 'KACHINAKATTE': 'Kachina Katte', 'KORALAHALLI': 'Kallahalli', 'LAKKINAKOPPA': 'Lakkinakoppa', 'CHIKKA KUDLI': 'Chikkudli', 'KUDLI': 'Kudli', 'THARAGANAHALLI': 'Thadasanahalli', 'KUMSI': 'Kumsi', 'NARAYANAPURA': 'Narayana Pura', 'RATTEHALLI': 'Thattehalli', 'SUTTUKOTE': 'Suthukote', 'MANDENAKOPPA': 'Mandenakoppa', 'MATTURU': 'Mathuru', 'HOISANAHALLY': 'Hosahalli', 'JAVALLI': 'Javalli', 'PILLANGERE': 'Pillangere', 'GUDDADA HARAKERE': 'Guddadaneralakere', 'HANUMANTAPURA': 'Hanumanthapura', 'MANJARIKOPPA': 'Manikoppa', 'PURDAL': 'Puradalu', 'SHETTIHALLI': 'Shettihalli', 'TAVAREKOPPA': 'Thavarekoppa', 'HITTUR': 'Hitturu', 'KESAVINAKATTE': 'Kesavinamane', 'RAMANAGARA': 'Rangapura', 'VITAGONDANAKOPPA': 'Thoragondanakoppa', 'SANTHEKADUR': 'Shanthapura', 'KATIKERE': 'Kati Kere', 'THAMADIHALLI': 'Thammadihalli', 'GANIDALU': 'Ganidalu', 'HURULIHALLI': 'Aralihalli', 'KAKANAHASUDI': 'Kalpanahalli', 'LINGAPURA': 'Lingapura', 'SIDDAMMAJIHOSUR': 'Siddamaji Hosuru', 'UMBLEBYLU': 'Umblebailu', 'DWARALLI': 'Dwarahalli', 'MUGURU': 'Muguru', 'TORAVANDA': 'Thoravanda', 'ANAVATTI': 'Anavatti', 'BHARANAGI': 'Bharangi', 'YALIWALA': 'Yalavala', 'KAMARURU': 'Kamaruru', 'MAVINABALLIKOPPA': 'Mavinaballikoppa', 'NERCHI': 'Narchi', 'BILAVANI': 'Biluvani', 'CHATRADAHALLI': 'Chatradahalli', 'GERKOPPA': 'Gerukoppa', 'KOLAGUNASI': 'Kolgunisi', 'ANDAVALLI': 'Andavalli', 'BADADHABAILU': 'Agalabagilu', 'BASTIKOPPA': 'Basthikoppa', 'CHANDRAGUTTI': 'Chandraguthi', 'HOLEMARURU': 'Holemaruru', 'KATAVAYI': 'Kathavai', 'TORANAKOPPA': 'Koralakoppa', 'CHITTUR': 'Chittur', 'INDIHALLI': 'Indihalli', 'BASURU': 'Basuru', 'BOMMANAHALLI': 'Bommanahalli', 'DYAVANAHALLI': 'Dyavanahalli', 'JADDIHALLI': 'Jaddihalli', 'KULAGA': 'Kulaga', 'PUTTANAHALLI': 'Puttanahalli', 'SAMPAGODU': 'Sampagodu', 'BELAVANTANAKOPPA': 'Belavantanakoppa', 'ENNEKOPPA': 'Yennekoppa', 'KAMANAVALLI': 'Kamanavalli', 'TEVARATEPPA': 'Tevarteppa', 'VRUTTIKOPPA': 'Vrithikoppa', 'GENDLA': 'Gendla', 'BALLIBAILU': 'Ballibylu', 'DUGGALI': 'Udugani', 'GAMBEHALLI': 'Jambehalli', 'GUDUVI': 'Gudavi', 'HOSURU': 'Hosuru', 'HULEMARADI': 'Maradi', 'KADEGADDHE': 'Kadegadde', 'KALLAMBI': 'Kallambi', 'TYAVAGODU': 'Thyavagodu', 'GANGOLLI': 'Gangavalli', 'GINIVALA': 'Ginivala', 'GINIVALA ODDIGERE': 'Valagere', 'GINIVALA SIDDIGERE': 'Valagere', 'HANCHI': 'Hanchi', 'HANCHI TANDA': 'Hanchi', 'HIREMAGADI': 'Hiremagadi', 'ANKANAVALLI': 'Ankaravalli', 'GUNJANURU': 'Gunjanur', 'HECHE': 'Heche', 'HULTIKOPPA': 'Shuntikoppa', 'KONANAMANE': 'Kanumane', 'TANDIGE': 'Thandige', 'CHIKKCHOWTI': 'Chikkachowti', 'HIRECHWATI': 'Hirechowti', 'HURALI': 'Hurali', 'HURALIKOPPA': 'Hurali Koppa', 'KODIHALLI': 'Kodihalli', 'B INDUVALLI': 'Induvalli', 'CHIKKACHAVI': 'Chikkasavi', 'HESARI': 'Hesari', 'HIREKACHAVI': 'Hirekasavi', 'HUNAVALLI': 'Hunavalli', 'INDUVALLI': 'Induvalli', 'BANGASANA': 'Bankasana', 'JADE': 'Jade', 'KALIGERE': 'Baligere', 'YADAGOPPA': 'Byadarakoppa', 'KATUVALLI': 'Kathuvalli', 'KUBATUR': 'Kubaturu', 'LAKAVALLI': 'Lakkavalli', 'MALAPURA': 'Mallapura', 'NERALAGI': 'Neralagi', 'KUPPAGADDE': 'Kuppagadde', 'MALEKOPPA': 'Malekoppa', 'T G KOPPA': 'Koppa', 'MUDI': 'Udri', 'NELLIKOPPA': 'Nellikoppa', 'BANDAGI': 'Andagoli', 'HARALAGI': 'Haragi', 'KAKKARASI': 'Kakkarasi', 'MUTUGUPPE': 'Mutaguppe', 'TATTIGERE': 'Koratigere', 'BANADAKOPPA': 'Banadakoppa', 'CHILANURU': 'Chilanuru', 'NISARANI': 'Nisarani', 'HOSALLI': 'Hosahalli', 'SAMANAVALLI': 'Samanavalli', 'TUNDURU': 'Gunduru', 'ALAHALLI': 'Alahalli', 'BANKOLLI': 'Bankavalli', 'KODIKOPPA': 'Kodikoppa', 'TALAGADDI': 'Telagadde', 'CHIKKIDAKODU': 'Chikkadagodu', 'HUNASAVALLI': 'Hunasavalli', 'KALLAKOPPA': 'Kalkoppa', 'MANGAPURA': 'Mangapura', 'TELAGUNDA': 'Thelagunda', 'BIDARAGERE': 'Bidare', 'CHIKKAVALI': 'Chikkavali', 'GUDDEKOPPA': 'Guddekoppa', 'KUMMURU': 'Kummuru', 'MANCHI': 'Amachi', 'UDRI': 'Udri', 'UDRI-UADDIGERE': 'Kudigere', 'UPPALLI': 'Uppalli', 'AGUMBE': 'Karumane', 'AGALABAGILU': 'Agalabagilu', 'ARAGA': 'Araga', 'ARALASURALI': 'Aralasurali', 'BANDYA': 'Bandya', 'MALALURU': 'Malalur', 'BASAVANI': 'Basavani', 'BEJJAVALLI': 'Bejjavalli', 'KUDIGE': 'Kudige', 'MAHESHI': 'Mahishi', 'BIDARAGODU': 'Bidaragodu', 'BHANDYA': 'Bhandya', 'HOSABEDU': 'Hosabeedu', 'KUKKE': 'Kukke', 'DEMLAPURA': 'Demlapura', 'DEVANGI': 'Devangi', 'JAGATAGARU': 'Jagatagaru', 'JAMBETALLUR': 'Jambetalluru', 'MALALI': 'Malali', 'MARAGALALE': 'Maragalale', 'KARADIGA': 'Karadiga', 'SHANKARAHALLI': 'Shankarahalli', 'ALASE': 'Alase', 'ARANAHALLI': 'Harnahalli', 'BASAVANAGADDE': 'Basavanagadde', 'HANAGERE': 'Hanagere', 'SIRANALLI': 'Shiranalli', 'ANDAGERE': 'Andagere', 'HAROGOLIGE': 'Harogolige', 'HEDDURU': 'Hedduru', 'KADEGERE': 'Kadiggere', 'HORABAILU': 'Horabailu', 'ARALAPURA': 'Aralapura', 'CHANGARU': 'Changaru', 'HONNATHALU': 'Honnetalu', 'KUNDA': 'Kunda', 'NERATURU': 'Neraturu', 'KODLU': 'Kodlu', 'LAKKUNDA': 'Lakkunda', 'ALURU': 'Kaluru', 'HALAVINAHALLI': 'Halavanahalli', 'KOLLIGE': 'Kolige', 'KUDUMALLIGE': 'Kudumallige', 'JAMBAVATHI': 'Kalavathi', 'MEGARAVALLI': 'Megaravalli', 'MELIGE': 'Melige', 'MULUBAGILU': 'Mulubagilu', 'BAGGUDIGE': 'Baggodige', 'DASANAKUDIGE': 'Dasanakodige', 'HURULI': 'Huruli', 'KOLIGE': 'Kolige', 'SHIVALLI': 'Shivalli', 'SHUNTIHAKKLU': 'Shuntihaklu', 'NERTOOR': 'Nevatoor', 'KATAGARU': 'Katagaru', 'SALAGADI': 'Salgadi', 'SALURU': 'Saluru', 'SHEDGER': 'Shedgar', 'MELINAPATRAVALLI': 'Melinapadaravalli', 'SINGANABIDRE': 'Singanabidare', 'CHIKLUR': 'Chikkaluru', 'MUTTUVALLI': 'Muthuvalli', 'THIRTHAMATTUR': 'Thirthamuthur', 'AKLAPURA': 'Aklapura', 'TRIYAMBAKAPURA': 'Triyambakapura', 'UDUKERE': 'Udukere', 'BEGAVALLI': 'Benavalli', 'THUDUR': 'Thuduru', 'THYANANDURU': 'Tyananduru'}, 'Tumkur': {}}

In [69]:
concatenated_df

,StateName,DistrictName,BlockName,VillageName,Contaminents,Matched State Name,Matched District name,Matched SubDistrict name,Matched Village name
0,KARNATAKA,SHIMOGA,BHADRAVATI,AGARADAHALLI,"Fluoride : 1.000, Iron : 0.400, Chloride : 250...",Karnataka,Shimoga,Bhadravati,Agaradahalli
1,KARNATAKA,SHIMOGA,BHADRAVATI,AGARADAHALLI,"Fluoride : 1.000, Iron : 0.300, Chloride : 400...",Karnataka,Shimoga,Bhadravati,Agaradahalli
2,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 1.000, Iron : 0.400, Chloride : 300...",Karnataka,Shimoga,Bhadravati,Anaveri
3,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 0.500, Iron : 0.500, Chloride : 450...",Karnataka,Shimoga,Bhadravati,Anaveri
4,KARNATAKA,SHIMOGA,BHADRAVATI,ITTIGEHALLY,"Fluoride : 0.500, Iron : 0.500, Chloride : 450...",Karnataka,Shimoga,Bhadravati,Ittigehalli
...,...,...,...,...,...,...,...,...,...
148,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 1.490, Iron : 0.050, Chloride : 195...",Kerala,Alappuzha,Kuttanad,Pathirappally
149,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.280, Chloride : 100.000, TDS : 48...",Kerala,Alappuzha,Kuttanad,Pathirappally
150,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.200, Iron : 0.050, Chloride : 560...",Kerala,Alappuzha,Kuttanad,Pathirappally
151,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.180, Iron : 0.060, Chloride : 110...",Kerala,Alappuzha,Kuttanad,Pathirappally
152,KERALA,ALAPPUZHA,ARYAD,PATHIRAPPALLY,"Fluoride : 2.240, Chloride : 540.000, TDS : 14...",Kerala,Alappuzha,Kuttanad,Pathirappally

In [70]:
fmp

,pc11_s_id,pc11_d_id,pc11_sd_id,pc11_tv_id,tv_name,State Name,sd_name,d_name
0,35,638,5916,0,Batti Malv Island,Andaman & Nicobar Islands,Car Nicobar,Nicobars
1,35,638,5916,645012,Mus,Andaman & Nicobar Islands,Car Nicobar,Nicobars
2,35,638,5916,645013,Teetop,Andaman & Nicobar Islands,Car Nicobar,Nicobars
3,35,638,5916,645014,Sawai,Andaman & Nicobar Islands,Car Nicobar,Nicobars
4,35,638,5916,645015,Arong,Andaman & Nicobar Islands,Car Nicobar,Nicobars
...,...,...,...,...,...,...,...,...
654301,19,330,2196,309796,Poaltair,West Bengal,Raiganj,Uttar Dinajpur
654302,19,330,2196,309797,Pardha,West Bengal,Raiganj,Uttar Dinajpur
654303,19,330,2196,309798,Nachhratpur Katabari,West Bengal,Raiganj,Uttar Dinajpur
654304,19,330,2196,309799,Kasba,West Bengal,Raiganj,Uttar Dinajpur
654305,19,330,2196,801651,Raiganj,West Bengal,Raiganj,Uttar Dinajpur

In [71]:
concatenated_df = concatenated_df.rename(columns={
    'Matched State Name': 'State Name',
    'Matched District name': 'd_name',
    'Matched SubDistrict name': 'sd_name',
    'Matched Village name': 'tv_name'
})

In [72]:
fmp_con = pd.merge(fmp, concatenated_df, on=['State Name','d_name','sd_name','tv_name'], how='inner')

In [73]:
fmp_con

,pc11_s_id,pc11_d_id,pc11_sd_id,pc11_tv_id,tv_name,State Name,sd_name,d_name,StateName,DistrictName,BlockName,VillageName,Contaminents
0,29,568,5521,608518,Diggenahalli,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,BHADRAVATI,DIGGENAHALLI,"Iron : 0.500, Chloride : 450.000, Nitrate : 55..."
1,29,568,5521,608522,Anaveri,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 1.000, Iron : 0.400, Chloride : 300..."
2,29,568,5521,608522,Anaveri,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 0.500, Iron : 0.500, Chloride : 450..."
3,29,568,5521,608523,Ittigehalli,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,BHADRAVATI,ITTIGEHALLY,"Fluoride : 0.500, Iron : 0.500, Chloride : 450..."
4,29,568,5521,608526,Gudumagatta,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,BHADRAVATI,GUDAMANGATTA,"Fluoride : 1.000, Iron : 0.400, Chloride : 400..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1206,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,AMBALAPUZHA,KARUMADY,"Fluoride : 0.990, Iron : 0.100, Chloride : 25...."
1207,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,AMBALAPUZHA,KARUMADY,"Fluoride : 0.200, Iron : 0.050, Chloride : 15...."
1208,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,AMBALAPUZHA,KARUMADY,"Fluoride : 0.200, Iron : 0.150, Chloride : 25...."
1209,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,AMBALAPUZHA,KARUMADY,"Fluoride : 0.230, Chloride : 25.000, TDS : 175..."
1210,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,AMBALAPUZHA,KARUMADY,"Fluoride : 0.690, Iron : 0.050, Chloride : 210..."

In [74]:
# shrid = YY-SS-DDD-sssss-VVVVVV

fmp_con['shrid2'] = fmp_con.apply(lambda row: f"11-{row['pc11_s_id']}-{row['pc11_d_id']}-0{row['pc11_sd_id']}-{row['pc11_tv_id']}", axis=1)
fmp_con

,pc11_s_id,pc11_d_id,pc11_sd_id,pc11_tv_id,tv_name,State Name,sd_name,d_name,StateName,DistrictName,BlockName,VillageName,Contaminents,shrid2
0,29,568,5521,608518,Diggenahalli,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,BHADRAVATI,DIGGENAHALLI,"Iron : 0.500, Chloride : 450.000, Nitrate : 55...",11-29-568-05521-608518
1,29,568,5521,608522,Anaveri,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 1.000, Iron : 0.400, Chloride : 300...",11-29-568-05521-608522
2,29,568,5521,608522,Anaveri,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,BHADRAVATI,ANAVERI,"Fluoride : 0.500, Iron : 0.500, Chloride : 450...",11-29-568-05521-608522
3,29,568,5521,608523,Ittigehalli,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,BHADRAVATI,ITTIGEHALLY,"Fluoride : 0.500, Iron : 0.500, Chloride : 450...",11-29-568-05521-608523
4,29,568,5521,608526,Gudumagatta,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,BHADRAVATI,GUDAMANGATTA,"Fluoride : 1.000, Iron : 0.400, Chloride : 400...",11-29-568-05521-608526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1206,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,AMBALAPUZHA,KARUMADY,"Fluoride : 0.990, Iron : 0.100, Chloride : 25....",11-32-598-05674-628230
1207,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,AMBALAPUZHA,KARUMADY,"Fluoride : 0.200, Iron : 0.050, Chloride : 15....",11-32-598-05674-628230
1208,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,AMBALAPUZHA,KARUMADY,"Fluoride : 0.200, Iron : 0.150, Chloride : 25....",11-32-598-05674-628230
1209,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,AMBALAPUZHA,KARUMADY,"Fluoride : 0.230, Chloride : 25.000, TDS : 175...",11-32-598-05674-628230
1210,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,AMBALAPUZHA,KARUMADY,"Fluoride : 0.690, Iron : 0.050, Chloride : 210...",11-32-598-05674-628230

In [76]:
vcf = pd.read_csv("my_web_app/elevation_shrid.csv")

In [77]:
vcf

,shrid2,elevation_mean,elevation_median,elevation_percentile_5,elevation_percentile_25,elevation_min,elevation_max,elevation_num_cells,elevation_std
0,11-01-001-00001-000002,1758.410648,1745.0,1339.00,1585.00,1276.0,2406.0,8321,251.390562
1,11-01-001-00001-000005,2399.254718,2395.0,1944.10,2213.00,1823.0,3081.0,6623,268.828716
2,11-01-001-00001-000006,3176.797998,3206.0,2742.00,2953.00,2597.0,3651.0,6594,261.233354
3,11-01-001-00001-000007,2846.648941,2875.0,2484.75,2690.75,2363.0,3255.0,4156,203.604353
4,11-01-001-00001-000008,2825.052265,2830.0,2575.00,2714.00,2482.0,3123.0,3444,148.466248
...,...,...,...,...,...,...,...,...,...
576450,11-35-640-05924-645566,27.163448,25.0,9.00,19.00,0.0,69.0,7715,12.523217
576451,11-35-640-05924-645567,126.060891,134.0,57.00,116.00,28.0,175.0,28658,27.959493
576452,11-35-640-05924-645568,43.306925,32.0,8.00,21.00,0.0,120.0,10022,30.359780
576453,11-35-640-05924-645569,21.714302,18.0,6.00,9.00,0.0,89.0,8544,17.364967
576454,11-35-640-05924-645570,115.598222,118.0,73.00,101.00,20.0,164.0,25086,25.045453

In [78]:
fmp_con = pd.merge(fmp_con, vcf, on='shrid2', how='inner')

In [79]:
fmp_con

,pc11_s_id,pc11_d_id,pc11_sd_id,pc11_tv_id,tv_name,State Name,sd_name,d_name,StateName,DistrictName,...,Contaminents,shrid2,elevation_mean,elevation_median,elevation_percentile_5,elevation_percentile_25,elevation_min,elevation_max,elevation_num_cells,elevation_std
0,29,568,5521,608518,Diggenahalli,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,...,"Iron : 0.500, Chloride : 450.000, Nitrate : 55...",11-29-568-05521-608518,614.478064,611.0,585.0,595.0,575.0,695.0,5288,23.347274
1,29,568,5521,608522,Anaveri,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,...,"Fluoride : 1.000, Iron : 0.400, Chloride : 300...",11-29-568-05521-608522,577.343785,572.0,563.0,567.0,557.0,715.0,6315,19.696504
2,29,568,5521,608522,Anaveri,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,...,"Fluoride : 0.500, Iron : 0.500, Chloride : 450...",11-29-568-05521-608522,577.343785,572.0,563.0,567.0,557.0,715.0,6315,19.696504
3,29,568,5521,608523,Ittigehalli,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,...,"Fluoride : 0.500, Iron : 0.500, Chloride : 450...",11-29-568-05521-608523,613.079022,607.0,586.0,596.0,572.0,730.0,8466,23.492398
4,29,568,5521,608526,Gudumagatta,Karnataka,Bhadravati,Shimoga,KARNATAKA,SHIMOGA,...,"Fluoride : 1.000, Iron : 0.400, Chloride : 400...",11-29-568-05521-608526,600.657229,597.0,584.0,592.0,572.0,695.0,8335,15.810674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1204,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,...,"Fluoride : 0.990, Iron : 0.100, Chloride : 25....",11-32-598-05674-628230,1.085698,1.0,-4.0,-1.0,-15.0,42.0,19522,3.177690
1205,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,...,"Fluoride : 0.200, Iron : 0.050, Chloride : 15....",11-32-598-05674-628230,1.085698,1.0,-4.0,-1.0,-15.0,42.0,19522,3.177690
1206,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,...,"Fluoride : 0.200, Iron : 0.150, Chloride : 25....",11-32-598-05674-628230,1.085698,1.0,-4.0,-1.0,-15.0,42.0,19522,3.177690
1207,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,...,"Fluoride : 0.230, Chloride : 25.000, TDS : 175...",11-32-598-05674-628230,1.085698,1.0,-4.0,-1.0,-15.0,42.0,19522,3.177690
1208,32,598,5674,628230,Karumady,Kerala,Ambalappuzha,Alappuzha,KERALA,ALAPPUZHA,...,"Fluoride : 0.690, Iron : 0.050, Chloride : 210...",11-32-598-05674-628230,1.085698,1.0,-4.0,-1.0,-15.0,42.0,19522,3.177690

In [28]:
fmp_con.to_csv("Res.csv")